@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Send an email to - contactus@apluspoint.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@apluspoint.com">support@apluspoint.com</a><br />
</address>