@{
    ViewBag.Title = "APlusPoint";
}

<div class="jumbotron">
    <h1>Platform to Excel Learning...</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register as Instructor</h2>
        <p>
            If you believe you are champios in any subject and can help others to get benefitted from it, this place is for you, register yourself as an Instructor here.
        </p>
        <p><a class="btn btn-default" href="#">comming soon &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register for Learning</h2>
        <p>Feeling nervous looking at Math Numbers or Physics , you are at right place, continue to come and meet the passionate Instructors.</p>
        <p><a class="btn btn-default" href="#">coming soon &raquo;</a></p>
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
                 #mc_embed_signup {
                     background: #fff;
                     clear: left;
                     font: 14px Helvetica,Arial,sans-serif;
                 }
                 /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
            <form action="//apluspoint.us11.list-manage.com/subscribe/post?u=71bfcebc0d1df4500d2e75a5d&amp;id=3d6c606c77" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL">Subscribe to know as we add new features</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_71bfcebc0d1df4500d2e75a5d_3d6c606c77" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
        </div>

        <!--End mc_embed_signup-->
    </div>
    <div class="col-md-4">
        <h2>Solved Papers</h2>
        <p>Practice your exams by going through all previous papers, this will definitly boost your confidence..</p>
        <p><a class="btn btn-default" href="#">coming soon &raquo;</a></p>
    </div>
</div>